@{
    ViewData["Title"] = "Kontakt os";
}
<h2>@ViewData["Title"]</h2>

<address>
    Vitec MV
    Lucernemarken 17
    5260 Odense S
    <br />
    <abbr title="Telefon">T:</abbr>
    65 91 80 22
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support.mv@vitecsoftware.com">support.mv@vitecsoftware.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:salg.mv@vitecsoftware.com">salg.mv@vitecsoftware.com</a>
</address>
